.header{
    height: 150px;
    background-image: url(../../assets/img/header/banner-1176678_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-box-shadow: 2px 4px 19px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 19px -3px rgba(0,0,0,0.75);
box-shadow: 2px 4px 19px -3px rgba(0,0,0,0.75);
border-bottom: solid 5px rgba(25, 87, 6, 0.989);
  
}