.footer{
    border-top: solid 3px rgba(25, 87, 6, 0.989);

    background-color: black;
    bottom: 0;
    // .imgMarca{
    //     height: 40px;
    //     width: 100%;
    //     padding: 5px;
    // }
    .imgFoo{
        background: linear-gradient(
            90deg,
            rgba(36, 0, 0, 1) 0%,
            rgba(36, 121, 9, 0.989233193277311) 50%,
            rgba(255, 0, 31, 1) 100%
          );
    }
}