<div class="container" id="bodyHome">
  <div class="row">
    <div class="col-12 text-center pt-5">
      <h1 class="animate__animated animate__tada">Hojalatería y puntura Maestro Memo</h1>
    </div>
    <!-- <div class="col-12 d-flex flex-column align-items-end py-3 ">
      <blockquote>
        La pintura es poesía muda; la poesía, pintura ciega
      </blockquote>
      <p>Leonardo da Vinci</p>
    </div> -->
    <div class="col-12 px-0 py-4">
      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleCaptions"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="../../assets/img/home/servicios/cadillac1.jpg"
              class="d-block w-100"
              alt="..."
              class="imgCar"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Antes</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/home/servicios/cadillac2.jpg"
              class="d-block w-100"
              alt="..."
              class="imgCar"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Despues</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/home/servicios/mustang2.jpg"
              class="d-block w-100"
              alt="..."
              class="imgCar"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Antes</h5>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="../../assets/img/home/servicios/mustang.jpg"
              class="d-block w-100"
              alt="..."
              class="imgCar"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Despues</h5>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleCaptions"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid px-lg-5 my-3">
  <div class="text-center">
    <h1>Servicios que ofrecemos</h1>
  </div>
  <app-caroucel></app-caroucel>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 py-4" id="colision">
      <div class="text-center">
        <h1>Somos expertos en reparacion de autos chocados</h1>
      </div>
      <div class="text-center">
        <img
          class="img-fluid"
          src="../../assets/img/home/choques/transport-3146193_1280.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="col-12 text-center py-5">
      <h2>Contacto</h2>
      <h3>Ubicación:</h3>
      <label for=""><span>Calle: </span>José María Patoni #15</label>
      <br />
      <label for=""><span>Colonia: </span>Bejero Sta fe</label>
      <br />
      <label for=""
        ><span>Delegación </span>Álvaro Obregón, Ciudad de México</label
      >
      <hr />
      <h3>Telefono:</h3>
      <label for="">5564780632</label>
      <p>Presupuestos sin costo</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="text-center">
    <h2>Con materiales de la mejor calidad y las mejores marcas</h2>
  </div>
  <div class="row">
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/Logo-Sherwin-Williams-thumbnail.jpg"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/3m-logo-4.png"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/mipa_pcs_300dpi.jpg"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/Segmentos+Axalta+2016-75.png"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img src="../../assets/img/footer/logo.png" alt="" class="imgMarca" />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/spieshecker.jpg"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img src="../../assets/img/footer/unnamed.png" alt="" class="imgMarca" />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img src="../../assets/img/footer/logo (1).png" alt="" class="imgMarca" />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/DuPont_tm_rgb.png"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/Axalta_logo_Blog.png"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/653418-MLM28562531182_112018-O.jpg"
        alt=""
        class="imgMarca"
      />
    </div>
    <div class="col-3 col-md-2 col-lg-1 px-0">
      <img
        src="../../assets/img/footer/png-transparent-ppg-industries-logo-paint-coating-paint-blue-text-trademark.png"
        alt=""
        class="imgMarca"
      />
    </div>
  </div>
</div>
